<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.hp.demo06.web.server.mapper.StaffMapper">

    <!--  int insert(Brand brand); 下方VALUES屬性要與entity Brand
    名字要對應上故要去除下滑線並駝峰命名 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            staff(
            name, nickname, phone, email, avatar, description,
                  salary, enable, sort
        ) VALUES (
                  #{name}, #{nickname}, #{phone}, #{email}, #{avatar},
                  #{description}, #{salary}, #{enable}, #{sort}
                 )
    </insert>

    <!--  int deleteById(Long id);  -->
    <delete id="deleteById">
        DELETE FROM staff WHERE id=#{id}
    </delete>

    <!--  int deleteByIds(Long... ids); separator=分割符號 -->
    <delete id="deleteByIds">
        DELETE FROM staff WHERE id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        );
    </delete>

    <!--  int updateNameById(Long id,String name);  -->
    <update id="updateNameById">
        UPDATE staff SET name=#{name} WHERE id=#{id}
    </update>

    <!--  int updateById(Brand brand); <set>解決逗號的問題 -->
    <update id="updateById">
        UPDATE
        staff
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="nickname != null">
                nickname=#{nickname},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="avatar != null">
                avatar=#{avatar},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="salary != null">
                salary=#{salary},
            </if>
            <if test="enable != null">
                enable=#{enable},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
<!--            <if test="gmtCreate != null">-->
<!--                gmt_create=#{gmtCreate},-->
<!--            </if>-->
<!--            <if test="gmtModified != null">-->
<!--                gmt_modified=#{gmtModified},-->
<!--            </if>-->
        </set>
        WHERE
        id=#{id}
    </update>

    <!--  int count();  -->
    <select id="count" resultType="int">
        SELECT count(*) FROM staff;
    </select>

    <!--  BrandDetailVO getById(Long id);  -->
    <select id="getById" resultMap="DetailResultMap">
        SELECT
            id, name, nickname, phone, email, avatar,
            description, salary, enable, sort
        FROM
            staff
        WHERE
            id = #{id}
    </select>
    <resultMap id="DetailResultMap" type="tw.hp.demo06.web.server.pojo.vo.StaffDetailVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="description" property="description"/>
        <result column="salary" property="salary"/>
        <result column="enable" property="enable"/>
        <result column="sort" property="sort"/>
<!--        <result column="gmtCreate" property="gmtCreate"/>-->
<!--        <result column="gmtModified" property="gmtModified"/>-->
    </resultMap>

    <!--  int countByName(String name);  -->
    <select id="countByName" resultType="int">
        SELECT count(*) FROM staff WHERE name=#{name}
    </select>

    <!--  List<BrandListItemVO> list(); 利用sql封裝代碼的方法<include refid="ListItemQueryFields"/> -->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields"/>
        FROM
        staff
        ORDER BY
        id;
    </select>
    <sql id="ListItemQueryFields">
        <if test="true">
            id,name, nickname, phone, email, avatar, description,
            salary, enable, sort
        </if>
    </sql>
    <resultMap id="ListItemResultMap" type="tw.hp.demo06.web.server.pojo.vo.StaffListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="description" property="description"/>
        <result column="salary" property="salary"/>
        <result column="enable" property="enable"/>
        <result column="sort" property="sort"/>
<!--        <result column="gmtCreate" property="gmtCreate"/>-->
<!--        <result column="gmtModified" property="gmtModified"/>-->
    </resultMap>

</mapper>
